.calculator {
  background: #D7D9CE;
  /* height: 590px; */
  width: 400px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#previousOperand {
  padding: 15px 15px 0 15px;
  margin: 6px 2px 0px 2px;
  background: black;
  text-align: right;
  min-height: 1.4rem;
  color: rgb(150, 150, 150);

}

#display {
  background: black;
  color: white;
  font-weight: bold;
  margin: 0 2px 5px 2px;
  padding: 0 15px 15px 15px;
  font-size: 2rem;
  text-align: right;
  word-wrap: break-word;
  min-height: 2.7rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.double {
  width: 200px !important;
}

#clear {
  width: 200px;
  background: #800E13;

}

#zero {
  width: 200px;
  margin-top: -100px;
}

#decimal {
  margin-top: -100px;
}

#equals {
  height: 200px;
  background: #238ea1;
}

.button {
  height: 100px;
  width: 100px;
  background: #b76c10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #D7D9CE solid;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

.button:hover {
  border: 3px black solid;
}

body {
  background: #13505B;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}